ETCSMessageService/Service References/AurthService/AurthenticateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RacoonMiddleWare" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RacoonMiddleWare" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14283/AurthenticateService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="RacoonAurthorisationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SimpleRacoonResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RacoonAurthorisationResponse" nillable="true" type="tns:RacoonAurthorisationResponse" />
  <xs:complexType name="SimpleRacoonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorisationOK" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Error" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleRacoonResponse" nillable="true" type="tns:SimpleRacoonResponse" />
</xs:schema>