ETCSMessageService/Service References/InsertService/InsertTripple1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RacoonMiddleWare" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RacoonMiddleWare" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14283/RacoonServices/InsertTripple.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfInsertableTriple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsertableTriple" nillable="true" type="tns:InsertableTriple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsertableTriple" nillable="true" type="tns:ArrayOfInsertableTriple" />
  <xs:complexType name="InsertableTriple">
    <xs:sequence>
      <xs:element minOccurs="0" name="Object" nillable="true" type="tns:InsertableNode" />
      <xs:element minOccurs="0" name="Predicate" nillable="true" type="tns:InsertableNode" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="tns:InsertableNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertableTriple" nillable="true" type="tns:InsertableTriple" />
  <xs:complexType name="InsertableNode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertableNode" nillable="true" type="tns:InsertableNode" />
  <xs:complexType name="SimpleRacoonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorisationOK" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Error" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleRacoonResponse" nillable="true" type="tns:SimpleRacoonResponse" />
</xs:schema>