ETCSMessageService/Service References/InsertService/InsertTripple2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14283/RacoonServices/InsertTripple.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RacoonMiddleWare" />
  <xs:element name="InsertTriple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RacoonMiddleWare" minOccurs="0" name="DataToInsert" nillable="true" type="q1:ArrayOfInsertableTriple" />
        <xs:element minOccurs="0" name="graph" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTripleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RacoonMiddleWare" minOccurs="0" name="InsertTripleResult" nillable="true" type="q2:SimpleRacoonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>